<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>335794499147-hgp5l03uvv8e5fp9j30fj1vk94cm02m7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.335794499147-hgp5l03uvv8e5fp9j30fj1vk94cm02m7</string>
	<key>API_KEY</key>
	<string>AIzaSyB3Zvp743nyW2mgUPWXvJZkcDC1XQ_Y6z0</string>
	<key>GCM_SENDER_ID</key>
	<string>335794499147</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.testProject</string>
	<key>PROJECT_ID</key>
	<string>buss-5c13c</string>
	<key>STORAGE_BUCKET</key>
	<string>buss-5c13c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:335794499147:ios:08655f8266d51e63a8e7ce</string>
</dict>
</plist>